{% extends "base.html" %}
{% block head_title %}
Usuarios
{% endblock %}
{% block content %}
    <h3>Usuarios</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <td>#</td>
            <td>Username</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Email</td>
            <td>Acciones</td>
        </tr>
        </thead>
    <tbody>
        {% if data %}
        {% for u in data%}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.first_name }}</td>
                <td>{{ u.last_name }}</td>
                <td>{{ u.email }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'user_edit' u.id %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'user_delete' u.id %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <h3>No hay registros de usuarios</h3>
        {% endif %}
    </tbody>
    </table>
</div>
    <hr>
    <p>
        <a href="{% url "register" %}" class="btn btn-primary">Crear nuevo usuario</a>
    </p>
{% endblock %}