{% extends "base.html" %}
{% block head_title %}
Colegios
{% endblock %}
{% block content %}

    {% if data %}
    <h3>Colegios</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Dirección</td>
                <td>Nit</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% for c in data %}
                <tr>
                    <td>{{ c.idColegio }}</td>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.direccion }}</td>
                    <td>{{ c.nit }}</td>
                    <td>
                        <center>
                            <a title="Editar" class="btn btn-primary" href="{% url 'colegio_edit' c.idColegio %}"><span class="glyphicon glyphicon-edit"></span></a>
                            <a title="Eliminar" class="btn btn-danger" href="{% url 'colegio_delete' c.idColegio %}"><span class="glyphicon glyphicon-trash"></span></a>
                        </center>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% else %}
    <h4>No hay registros de colegios</h4>
    {% endif %}
	<hr>
    <p>
        <a href="{% url "create_colegio" %}" class="btn btn-primary">Create new colegio</a>
    </p>
{% endblock %}