container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
#  02_createsu:
#    command: "django-admin.py createsu"
#    leader_only: true
  03_collectstatics:
    command: "django-admin.py collectstatic --noinput"

packages:
  yum:
          git: []
          mysql: []


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: schoolguard/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: schoolguard.settings