{% extends "base.html" %}
{% block head_title %}
Vehiculos
{% endblock %}
{% block content %}
    <h3>Vehiculos</h3>

        {% if data %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <td>#</td>
            <td>Conductor</td>
            <td>Placa</td>
            <td>Marca</td>
            <td>Linea</td>
            <td>Modelo</td>
            <td>Cilindraje</td>
            <td>Color</td>
            <td>Clase</td>
            <td>Tipo</td>
            <td>Serie</td>
            <td>Nombre Propietarios</td>
            <td>Cedula Propietario</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tbody>
        {% for u in data%}
            <tr>
                <td>{{ u.idVehiculo }}</td>
                <td>{{ u.conductor }}</td>
                <td>{{ u.placa }}</td>
                <td>{{ u.marca }}</td>
                <td>{{ u.linea }}</td>
                <td>{{ u.modelo }}</td>
                <td>{{ u.cilindraje }}</td>
                <td>{{ u.color }}</td>
                <td>{{ u.clase }}</td>
                <td>{{ u.tipo }}</td>
                <td>{{ u.serie }}</td>
                <td>{{ u.nombre }}</td>
                <td>{{ u.cedula }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'vehiculo_edit' u.idVehiculo %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'vehiculo_delete' u.idVehiculo %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
    </table>
    </div>
        {% else %}
            <h1>No hay registros de vehiculo</h1>
        {% endif %}

    <hr>
    <p>
        <a href="{% url "create_vehiculo" %}" class="btn btn-primary">Create un nuevo vehiculo</a>
    </p>
{% endblock %}