{% extends "base.html" %}
{% block head_title %}
    Dispositivos
{% endblock %}
{% block content %}
    {% if data %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>#</td>
            <td>Codigo</td>
            <td>Nombre</td>
            <td>Vehiculo</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tbody>
            {% for u in data %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.code }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.vehicle.nombre }}</td>
                    <td>
                    <center>
                            <a title="Editar" class="btn btn-primary" href="{% url 'edit_device' u.id %}"><span class="glyphicon glyphicon-edit"></span></a>
                            <a title="Eliminar" class="btn btn-danger" href="{% url 'delete_device' u.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                    </center>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
</div>
    {% else %}
        <h4>No hay registros de dispositivos</h4>
    {% endif %}

    <hr>
    <p>
        <a href="{% url "create_device" %}" class="btn btn-primary">Crear nuevo dispositivo</a>
    </p>
{% endblock %}