{% extends "base.html" %}
{% block head_title %}Welcome{% endblock %}
{% block content %}
<center>
    <h1>School Guard</h1>
        <image src="static/images/logo.png" xlink:href="450" width="450" class="img-responsive"/>

        <p>Esta aplicación te permite tener un control sobre las rutas</p>
        <p>de tus hijos, permitiendo mostrar en que parte de la ciudad se encuentran.</p>
</center>
{#        <p>#}
{#          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>#}
{#        </p>#}
{% endblock %}