{% extends "base.html" %}
{% block head_title %}
Estudiantes
{% endblock %}
{% block content %}

    {% if data %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Teléfono</td>
                <td>Colegio</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
                <tr>
                    <td>{{ d.idEstudiante }}</td>
                    <td>{{ d.nombre }}</td>
                    <td>{{ d.telefono }}</td>
                    <td>{{ d.colegio }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'estudiante_edit' d.idEstudiante %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'estudiante_delete' d.idEstudiante %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No hay registros de estudiantes</h4>
    {% endif %}
	<hr>
    <p>
        <a href="{% url "create_estudiante" %}" class="btn btn-primary">Create new student</a>
    </p>
{% endblock %}