{% extends "base.html" %}
{% block head_title %}
Estudiantes
{% endblock %}
{% block content %}

    {% if data %}
    <h3>Estudiantes</h3>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Teléfono</td>
                <td>Colegio</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
                <tr>
                    <td>{{ d.idEstudiante }}</td>
                    <td>{{ d.nombre }}</td>
                    <td>{{ d.telefono }}</td>
                    <td>{{ d.colegio }}</td>
                    <td>
                        <center>
                            <a title="Editar" class="btn btn-primary" href="{% url 'estudiante_edit' d.idEstudiante %}"><span class="glyphicon glyphicon-edit"></span></a>
                            <a title="Eliminar" class="btn btn-danger" href="{% url 'estudiante_delete' d.idEstudiante %}"><span class="glyphicon glyphicon-trash"></span></a>
                        </center>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% else %}
    <h4>No hay registros de estudiantes</h4>
    {% endif %}
	<hr>
    <p>
        <a href="{% url "create_estudiante" %}" class="btn btn-primary">Crear nuevo estudiante</a>
    </p>
{% endblock %}